/* General Styles */
:root {
    --primary-color: #c1121f;
    --secondary-color: #cdcac8;
    --accent-color: #e719193e;
    --hover-accent-color: #e51515;
    --white: #ffffff;
    --black: #000000;
    --font-family: 'Helvetica', 'Arial', sans-serif;
    --large-font-size: 2em;
    --medium-font-size: 1.5em;
    --small-font-size: 1em;
    --banner-font-size: 40em;
    --slide-number-size: 40em;
    --red-color: #FF6347;
    --white-color: #F0F0F0;
    --rose-color: #FFC0CB;
    --bubbles-color: #eaf4bd;
    --dessert-color: #94741a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a {
    font-family: var(--font-family, 'Helvetica', 'Arial', sans-serif);
}

h1 {
    font-size: var(--large-font-size);
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--white);

}

.navbar-left h1 {
    margin: 0;
    font-size: var(--medium-font-size);
    font-family: 'Tw Cen MT', sans-serif;
}

.navbar-center ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-center ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-center ul li a:hover {
    color: var(--hover-accent-color);
}

.navbar-right .discover-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.navbar-right .discover-button:hover {
    background-color: var(--hover-accent-color);
    color: var(--black);

}

/* Banner Section */
.banner-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.banner-text h1 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: var(--banner-font-size);
    color: var(--white);
    margin: 0;
    white-space: nowrap;
    animation: bannerAnimation 15s linear infinite;
}

@keyframes bannerAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* About Section */
#about {
    background-color: var(--white);
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-image {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 400px;
}

.about-text {
    max-width: 500px;
    font-size: var(--small-font-size);
    line-height: 1.6;
    color: var(--black);
}

.about-text h1 {
    margin-top: 0;
    font-family: 'Tw Cen MT', sans-serif;
    font-size: var(--large-font-size);

}

.about-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.about-button:hover {
    background-color: var(--hover-accent-color);
    color: var(--white);
}

/* Top 10 Section */
.top10-section {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.top-10-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.slideshow {
    width: 80%;
    max-width: 1200px;
}

.top10-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    background-color: var(--white);

}

.top10-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.top10-text {
    flex: 1;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top10-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.top10-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slide-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50em;
    font-weight: bold;
    color: rgba(139, 133, 133, 0.109);
    z-index: -1;
}

/* Navigation Buttons TOP 10 Slides */
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: var(--white);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20%;
}

.navigation-buttons button:hover {
    background-color: var(--hover-accent-color);
    color: var(--white);
}




/* Contact Section */
.contact-section {
    position: relative;
    background-color: var(--white);
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Ensure content stays within the section */
}

.contact-section h1 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: var(--large-font-size);
    color: var(--black);
    margin-bottom: 10px;
    z-index: 2;
    /* Ensure the heading stays above the background text */
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 2;
    /* Ensure the container content stays above the background text */
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 10px 0;
    font-size: var(--small-font-size);
    color: var(--black);
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: var(--small-font-size);
    color: var(--black);
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: var(--small-font-size);
}

.contact-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
}

.contact-button:hover {
    background-color: var(--hover-accent-color);
}

/* Background Text Animation */
.contact-text-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0.1;
}

.contact-text-background h1 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: var(--banner-font-size);
    color: var(--black);
    margin: 0;
    animation: bannerAnimation 15s linear infinite;
}

@keyframes bannerAnimation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}





/* Footer */
footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}


/* Wines Section */
/* Wine Container */
.wine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 40px auto;
}

/* Wine Entry */
.wine-entry {
    width: calc(16.66% - 20px);
    margin: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
}

.wine-entry:hover {
    transform: scale(1.1);

}

.wine-entry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.wine-entry:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

.wine-entry h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;

}

.wine-entry:hover h3 {
    opacity: 1;
}

/* Background Animation */
.wine-not-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 4em;
    color: var(--white);
    pointer-events: none;
}

.wine-not-container h1 {
    margin: 0;
    font-size: 5em;
    white-space: nowrap;
    overflow: hidden;
    animation: bannerAnimation 15s linear infinite;
}

@keyframes bannerAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.filter-btn {
    padding: 10px 15px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-btn.red:hover {
    background-color: var(--red-color);
}

.filter-btn.white:hover {
    background-color: var(--white-color);
}

.filter-btn.rose:hover {
    background-color: var(--rose-color);
}

.filter-btn.bubbles:hover {
    background-color: var(--bubbles-color);
}

.filter-btn.dessert:hover {
    background-color: var(--dessert-color);
}

.filter-btn.active {
    background-color: var(--secondary-color);
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .wine-entry {
        width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .wine-entry {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 480px) {
    .wine-entry {
        width: calc(50% - 20px);
    }
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--white);
    margin: 5% auto;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-text {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.modal-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--secondary-color);
}

.modal-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
}

.btn {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; 
    display: inline-block;
    
}

.btn:hover {
    background-color: var(--hover-color);
}

.reviews-container {
    position: relative; 
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    
    margin-top: 20px;
    border-radius: 10px;
    
}

.review {
    position: relative; 
    z-index: 10;
    background-color: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    
}
#review-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px ;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#review-form textarea {
    flex: 1;
    width: 90%;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-size: 1rem;
    resize: none; 
    height: 80px; 
}

#review-form input[type="number"] {
    width: 20%;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center; 
    height: 40px; 
}

#review-form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#review-form button:hover {
    background-color: var(--hover-accent-color);
}

.modal-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.modal-details div {
    font-size: var(--small-font-size);
    color: var(--black);
    margin-top: 5px;
}

.modal-details .rating {
    font-weight: bold;
}

.modal-details .price {
    margin-left: auto;
}

.close-button {
    color: var(--black);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover,
.close-button:focus {
    color: var(--hover-accent-color);
    text-decoration: none;
}




/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        padding: 20px;
    }

    .contact-info p {
        font-size: 0.9em;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .contact-section h1 {
        font-size: 1.5em;
    }

    .contact-info p {
        font-size: 0.8em;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.8em;
    }

    .contact-button {
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .banner-section {
        min-height: 400px;
    }

    .banner-text h1 {
        font-size: var(--large-font-size);
    }

    .navbar-left h1 {
        font-size: var(--medium-font-size);
    }

    .navbar-right .discover-button {
        padding: 8px 16px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        width: 200px;
    }

    .top10-text {
        padding-left: 20px;
        margin-right: 20px;
    }

    .navigation-buttons .prev,
    .navigation-buttons .next {
        font-size: 1.5em;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    .banner-section {
        min-height: 300px;
    }

    .banner-text h1 {
        font-size: var(--medium-font-size);
    }

    .navbar-left h1 {
        font-size: var(--small-font-size);
    }

    .navbar-right .discover-button {
        padding: 6px 12px;
    }

    .about-image {
        width: 150px;
    }

    .top10-text {
        padding-left: 10px;
        margin-right: 10px;
    }

    .navigation-buttons .prev,
    .navigation-buttons .next {
        font-size: 1em;
        padding: 5px 5px;
    }
}

/* Reviews page */
.reviews-section {
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-text-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0.1;
}

.reviews-text-background h1 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: var(--banner-font-size);
    color: var(--black);
    margin: 0;
    animation: bannerAnimation 15s linear infinite;
}

@keyframes bannerAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.reviews-main {
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.reviews-main form {
    display: flex;
    flex-direction: column;
}

.reviews-main form input,
.reviews-main form select,
.reviews-main form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: var(--small-font-size);
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.reviews-main form input:focus,
.reviews-main form select:focus,
.reviews-main form textarea:focus {
    border-color: var(--primary-color);
}

.reviews-main button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--small-font-size);
    transition: background-color 0.3s;
}

.reviews-main button[type="submit"]:hover {
    background-color: var(--hover-accent-color);
}

/* buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--hover-accent-color);
}




/* Review List */
ul#review-list {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
    z-index: 2;
}

ul#review-list .review-item {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

ul#review-list .review-item .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

ul#review-list .review-item .top-left {
    width: 50%;
}

ul#review-list .review-item .top-right {
    width: 50%;
    text-align: right;
}

ul#review-list .review-item .wine-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
}

ul#review-list .review-item .star-rating {
    color: gold;
    font-size: 1.2em;
}

ul#review-list .review-item .review-text {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul#review-list .review-item .wine-info {
    font-style: italic;
    color: var(--black);
}

ul#review-list .review-item .review-actions {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

ul#review-list .review-item .review-actions button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 10px;
}

ul#review-list .review-item .review-actions button:hover {
    background-color: var(--hover-accent-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    ul#review-list .review-item .review-actions {
        position: static;
        margin-top: 10px;
    }
}

/* Update Form Specific Styles */
#update-review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

/* Additional margin as fallback if gap doesn't work */
#update-review-form input,
#update-review-form select,
#update-review-form textarea,
#update-review-form .star-rating {
    margin-bottom: 15px;
}

/* Star Ratings */
#star-rating,
#update-star-rating {
    display: flex;
    gap: 10px;
}

#star-rating input,
#update-star-rating input {
    width: auto;
}



/* Reviews Intro Section */
#reviews-intro {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-content {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 100px;

}

.reviews-image {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 400px;
}

.reviews-text {
    max-width: 500px;
    font-size: var(--small-font-size);
    line-height: 1.6;
    color: var(--white);

}

.reviews-text p {
    margin-bottom: 60px;
}

.reviews-text h1 {
    margin-top: 0;
    font-family: 'Tw Cen MT', sans-serif;
    font-size: var(--large-font-size);
}

.reviews-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.reviews-button:hover {
    background-color: var(--hover-accent-color);
    color: var(--white);
}



/* Profile Button */
#profile-button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;


}

#profile-button:hover {
    background-color: var(--hover-accent-color);
}

/* Login Modal Styles */
.login-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.login-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.login-close-button:hover,
.login-close-button:focus {
    color: black;
}

/* Form Styles */
#login-form,
#signup-form,
#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input,
#signup-form input,
#update-form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form button,
#signup-form button,
#update-form button,
#logout-button,
#confirm-delete-button,
#cancel-delete-button,
#show-update-form {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#login-form button:hover,
#signup-form button:hover,
#update-form button:hover,
#logout-button:hover,
#confirm-delete-button:hover,
#cancel-delete-button:hover,
#show-update-form:hover {
    background-color: var(--hover-accent-color);
}

/* Style for the links in the login and signup forms */
#login-form a,
#signup-form a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#login-form a:hover,
#signup-form a:hover {
    color: var(--hover-accent-color);
}

#profile-info {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: red;
    display: none;
}



.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    /* Hidden by default */
}

/* Centering the buttons */
.profile-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    margin: auto;
}

/* Link styles */
#show-delete-confirm {
    color: black;
    text-decoration: none;
}

#show-delete-confirm:hover {
    text-decoration: underline;
}

/* Scrolling text */
.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    /* Adjust background color */
    padding: 10px 0;
    /* Adjust padding */
    position: relative;
    /* For positioning the absolute element inside */
}

.scrolling-text {
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.scrolling-text span {
    display: inline-block;
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Loading Screen Styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.loading-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.loading-bar {
    width:100%;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.loading-progress {
    width: 0;
    height: 100%;
    background: var(--primary-color);
    animation: loading 3s linear forwards;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
